                                <ul class="navbar-nav" data-simplebar="init" id="navbar-nav">
                                    <div class="simplebar-wrapper" style="margin: 0px;">
                                        <div class="simplebar-height-auto-observer-wrapper">
                                            <div class="simplebar-height-auto-observer"></div>
                                        </div>
                                        <div class="simplebar-mask">
                                            <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                                <div aria-label="scrollable content" class="simplebar-content-wrapper" role="region"
                                                     style="height: auto; overflow: hidden;"
                                                     tabindex="0">
                                                    <div class=" mt-2 simplebar-content" style="padding: 0px;">
                                                       <li class="nav-item mt-4">
                                                            <a class="nav-link menu-link" href="widgets.html">
                                                                <i class="ri-honour-line"></i> <span
                                                                    data-key="t-widgets">Widgets</span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item mt-4">
                                                            <a class="nav-link menu-link" href="">
                                                                <i class="ri-honour-line"></i> <span
                                                                    data-key="t-widgets">Create Project</span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item mt-4">
                                                            <a class="nav-link menu-link"
                                                               href="">
                                                                <i class="ri-honour-line"></i> <span
                                                                    data-key="t-widgets">Projects</span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a aria-controls="sidebarApps" aria-expanded="false"
                                                               class="nav-link menu-link collapsed" data-bs-toggle="collapse"
                                                               href="#sidebarApps" role="button">
                                                                <i class="ri-apps-2-line"></i> <span data-key="t-apps">Project</span>
                                                            </a>
                                                            <div class="collapse menu-dropdown" id="sidebarApps">
                                                                <ul class="nav nav-sm flex-column">
                                                                    <li class="nav-item">
                                                                        <a class="nav-link" data-key="t-calendar"
                                                                           href="">Projects </a>
                                                                    </li>
                                                                    <li class="nav-item">
                                                                        <a class="nav-link" data-key="t-calendar"
                                                                           href="">Pending Projects</a>
                                                                    </li>
                                                                    <li class="nav-item">
                                                                        <a class="nav-link" data-key="t-calendar"
                                                                           href="">Create Project</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </li>



                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="simplebar-placeholder" style="width: 69px; height: 867px;"></div>
                                    </div>
                                    <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                                        <div class="simplebar-scrollbar"
                                             style="width: 0px; display: none; transform: translate3d(0px, 0px, 0px);"></div>
                                    </div>
                                    <div class="simplebar-track simplebar-vertical" style="visibility: hidden;">
                                        <div class="simplebar-scrollbar" style="height: 0px; display: none;"></div>
                                    </div>
                                </ul>
